.all {
  background-color: #f2f2f2;
  overflow: auto;
}


.dashboard-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 100%;
}

.sidebar {
  width: 200px;
  margin-right: 20px;
}

.user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.user-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-data {
  color: #a7a5a5;
}

.edit-data:hover {
  color: orange;
  cursor: pointer;
  transition: color 0.3s;
  /* 設置過渡效果 */
}

.user-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #ccc;
}

.user-name {
  margin-left: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.menu-item:hover .menu-label {
  color: orange;
}

.menu-item i {
  margin-right: 3px;
}

.menu-label {
  color: inherit;
}



.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section {
  flex-shrink: 0;
}



.section {
  width: 1000px;
  min-width: auto;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-header {
  border-bottom: 0.0625rem solid #efefef;
  padding: 1.125rem 0;
}

.content {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-transform: capitalize;
  color: #333;
}

.ex {
  margin-top: 0.1875rem;
  font-size: .875rem;
  line-height: 1.0625rem;
  color: #555;
}

.section-content {
  padding-top: 1.875rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.profile-content {
  flex: 1;
  padding-right: 3.125rem;
  display: block;
}

.input {
  width: 602px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  border-color: gray;
}

td {
  padding: 0;
  display: table-cell;
  vertical-align: inherit;
}

.profile-name {
  text-align: right;
  color: rgba(85, 85, 85, .8);
  overflow: hidden;
  padding-bottom: 30px;
  white-space: nowrap;
  min-width: 20%;
}

.profile-value {
  box-sizing: border-box;
  padding-left: 20px;
  padding-bottom: 30px;
}

.input-value {
  align-items: center;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, .14);
  border-radius: 2px;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, .02);
}

.value {
  background: none;
  padding: 12px;
  outline: none;
  border: 0;
  flex: 1;
  flex-shrink: 0;
  filter: none;

}

.profile-section-wrapper {
  display: flex;
  justify-content: center;
  display: flex;
  height: 100%;


}

.profile-section {
  width: 1000px;
  height: 500px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




.submit {
  padding: 10px 20px;
  font-size: 16px;
  background-color: purple;
  color: white;
  border: none;
  cursor: pointer;
  display: none;
  animation: exampleAnimation 1s
}


.photo {
  width: 17.5rem;
  overflow: hidden;
  border-left: 0.0625rem solid #efefef;
  justify-content: center;
  display: flex;
}

.photo-area {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.discript {
  margin-top: 0.75rem;
  font-size: .875rem;
  line-height: 1.25rem;
  justify-content: center;
  display: flex;

}

@keyframes exampleAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.submit-profile {
  box-sizing: border-box;
  padding-left: 20px;
  padding-bottom: 30px;

}

.order-con {
  padding: 12px 24px;
  background: #fff;
  display: flexbox;
}

.order-con:first-child {
  padding-top: 24px;
}

.empty {
  padding: 0 0 12px;
  justify-content: space-between;
}

.border {
  border-bottom: 1px solid rgba(0, 0, 0, .09);
  margin-bottom: 10px;
}

.per-product:first-child {
  margin: 0;
  border: 0;
}

.per-product {
  align-items: center;
  color: rgba(0, 0, 0, .87);
  flex-direction: row;
  display: flex;
}

.image-wrap {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border: 1px solid #e1e1e1;
}

.small-section {
  padding: 0 12px 0 0;
  flex: 1;
  align-items: flex-start;
  flex-wrap: nowrap;
}

img {
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.order-spacing {
  margin-bottom: 20px;
}

.product-details {
  min-width: 0;
  padding: 0 0 0 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: break-word;
}

.de-product {
  padding: 0 12px 0 0;
  flex: 1;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
}

.section-product-name {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 0 0 5px;
  font-size: 16px;
  line-height: 22px;
  max-height: 48px;
}

.section-quantity {
  margin: 0 0 5px;
}

.product-name {
  vertical-align: middle;
}

.order-details {
  width: 1000px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-section {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  border-top: 1px solid #e1e1e1;
  justify-content: space-between;
}

.total-amount {
  color: #e57132;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.date {
  text-decoration: underline;
  color: #a7a5a5;
}

.right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.cancel-button {
  padding: 8px 16px;
  background-color: transparent;
  color: #555;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
  margin-top: 5px;

}

.cancel-button:hover {
  background-color: #e3e0de;
}

.cancel-button:focus {
  outline: none;
}

.cancel-button:active {
  transform: translateY(2px);
}

.no-orders {

  text-align: center;
  background-color: transparent;
  border: transparent;
  color: #555;
  width: 100%;
  height: 100%;
}